*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.content-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}

.image-container{
    width: 50%;
    height:100%;
    
}

.image{
    width:100%;
    height:100%;
    object-fit: cover;

    
}

.form-container{
    width: 50%;
    background-color: #F6F6F6;
    padding: 6rem 3rem;
}


.heading{
    font-size: clamp(2rem, 1vw + 1rem, 3rem);
     font-family: "Roboto Serif", serif;
    font-weight: 600;
}

.form-header{
    gap: 4px;
    margin-bottom: 1.5rem;

}

.input-label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 1rem;
}

.input{
    border-radius: 8px;
    background-color: #FAFAFA;
    padding: 8px 16px;
    outline: none;
    border: 1px solid #C9C5CC;
}

.input:focus{
    border: 1.5px solid #186871;
}

.submit{
    background-color: #186871;
    border: none;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 1rem;
    color: white;
    font-size: 1rem;

}

.submit:hover{
    background-color: #0f4c53;
}

.card-bottom{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    gap: 12px;
    margin-top: 1rem;

}

.social-button{
    background-color: #FAFAFA;
    border: 1px solid #C9C5CC;
    padding: 10px 16px;
    border-radius: 1rem;
    cursor: pointer;
    gap: 8px;

}

.social-button:hover{
    background-color: #e0e0e0;
}

.link{
    text-decoration: none;
    color: #008080;
}
.link:hover{
    text-decoration: underline;
}

.signUp-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

 .input-label {
  flex: 1;
}

.label{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
}


@media screen and (max-width: 1024px){
    .content-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;  
}
.image-container{
    width: 100%;
    height:30%;   
}
.form-container{
    width: 100%;
    padding: 3rem;
}

.form-header{
    margin-bottom: 2.5rem;
}

.label{
    font-size: 1.25rem;
}

.input{
    padding: 12px 16px;
}

.submit{
    padding: 12px 16px;
    font-size: 1.5rem;
}

.social-button{
    padding: 12px 16px;
    font-size: 1.5rem;
}

.signUp-container{
    font-size: 1.5rem;
}

p{
    font-size: 1.5rem;
}
}

@media screen and (max-width: 560px){

    .form-container{
        padding: 2rem 1rem;
    }
}
