*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.content-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}

.image-container{
    width: 50%;
    height:100%;
    
}

.image{
    width:100%;
    height:100%;
    object-fit: cover;

    
}

.form-container{
    width: 50%;
    background-color: #F6F6F6;
    padding: 1.5rem 3rem;
}


.heading{
    font-size: clamp(1rem, 1vw + 1rem, 3rem);
     font-family: "Roboto Serif", serif;
    font-weight: 600;
}

.form-header{
    gap: 4px;
    margin-bottom: 1.5rem;

}

.input-label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 1rem;
}

.input{
    
    border-radius: 8px;
    background-color: #FAFAFA;
    padding: 8px 16px;
    outline: none;
    border: 1px solid #C9C5CC;
}

.name-mail{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 16px;
}

.terms{
    display: flex;
    gap: 8px;
}
.submit{
    background-color: #186871;
    border: none;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 1rem;
    color: white;

}

.card-bottom{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    gap: 12px;
    margin-top: 1rem;

}

.social-button{
    background-color: #FAFAFA;
    border: 1px solid #C9C5CC;
    padding: 10px 16px;
    border-radius: 1rem;
    cursor: pointer;
    gap: 8px;

}

.link{
    text-decoration: none;
    color: #008080;
}

.login-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

 .input-label {
  flex: 1;
}

.label{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
}

